In [78]:
from operator import imod
import pandas as pd
import numpy as np
from scipy import stats

In [79]:
df = pd.read_csv('datasets/alumnos.csv')

In [80]:
type(df)

pandas.core.frame.DataFrame

In [81]:
df.columns

Index(['nombre', 'altura', 'peso', 'edad', 'sexo'], dtype='object')

In [82]:
type(df['altura'])

pandas.core.series.Series

In [83]:
df.iloc[1,:]

nombre    Paco
altura    1.73
peso        83
edad        25
sexo         h
Name: 1, dtype: object

In [84]:
df['sexo'].index

RangeIndex(start=0, stop=21, step=1)

In [85]:
df['sexo'].values

array(['h', 'h', 'h', 'm', 'h', 'h', 'm', 'h', 'm', 'h', 'm', 'm', 'm',
       'h', 'h', 'm', 'h', 'm', 'h', 'h', 'm'], dtype=object)

In [86]:
peso_alumnos = df['peso']

In [87]:
peso_alumnos

0      60
1      83
2      70
3      58
4      98
5     100
6      62
7      83
8      56
9     112
10     72
11     57
12     68
13     78
14     67
15     74
16     93
17     63
18    102
19     78
20     65
Name: peso, dtype: int64

In [88]:
type(peso_alumnos)

pandas.core.series.Series

In [89]:
peso_alumnos[5:10]

5    100
6     62
7     83
8     56
9    112
Name: peso, dtype: int64

In [90]:
media_nativa = sum(df['altura']/len(df['altura']))

In [91]:
media_pandas = df['altura'].mean()

In [92]:
media_numpy = np.mean(df['altura'])

In [93]:
for i in media_nativa, media_pandas, media_numpy:
    print(i)

1.710952380952381
1.710952380952381
1.710952380952381

In [94]:
media_numpy == media_nativa

True

In [95]:
media_pandas == media_nativa

True

In [96]:
stats.mode(df['altura'])

ModeResult(mode=array([1.58]), count=array([3]))

In [97]:
df['altura'].median()

1.69

In [98]:
np.median(df['altura'])

1.69

In [99]:
df['altura'].var()

0.015809047619047615

In [100]:
np.var(df['altura'])

0.015056235827664395

In [101]:
df['altura'].std()

0.12573403524522553

In [102]:
np.std(df['altura'])

0.12270385416792903

In [103]:
for i in df:
    print(i)

nombre
altura
peso
edad
sexo

In [104]:
print("\nColumnas: ", df.columns)

Columnas:  Index(['nombre', 'altura', 'peso', 'edad', 'sexo'], dtype='object')

In [105]:
for i in df['peso']:
    if i % 2 == 0:
        print(i ** 2)

3600
4900
3364
9604
10000
3844
3136
12544
5184
4624
6084
5476
10404
6084

In [106]:
for i in df['peso']:
    print(i.index)

AttributeError: 'int' object has no attribute 'index'

In [ ]:
for i in df['peso'].index:
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

In [ ]:
# generamos una lista vacía
peso_cuadrado = []
# para cada uno de los valores en df['peso']
for i in df['peso']:
# lo elevamos al cuadrado y posteriormente concatenamos al final de la lista
    peso_cuadrado.append(i ** 2)
# una vez terminado el proceso, convertimos la lista a una serie
peso_cuadrado = pd.Series(peso_cuadrado)
peso_cuadrado_vect = df['peso'] ** 2
# evaluamos si es que cada elemento es igual
peso_cuadrado == peso_cuadrado_vect

0     True
1     True
2     True
3     True
4     True
5     True
6     True
7     True
8     True
9     True
10    True
11    True
12    True
13    True
14    True
15    True
16    True
17    True
18    True
19    True
20    True
dtype: bool

In [ ]:
for rowname, rowserie in df.iterrows():
    print(type(rowserie))

<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>

In [ ]:
for colname, _ in df.iteritems():
    print(colname)

nombre
altura
peso
edad
sexo

In [ ]:
for colname, colserie in df.iteritems():
    print(f"Tipo de dato de {colname}: {colserie.dtype}")

Tipo de dato de nombre: object
Tipo de dato de altura: float64
Tipo de dato de peso: int64
Tipo de dato de edad: int64
Tipo de dato de sexo: object

In [ ]:
df['sexo'] == 'h'

0      True
1      True
2      True
3     False
4      True
5      True
6     False
7      True
8     False
9      True
10    False
11    False
12    False
13     True
14     True
15    False
16     True
17    False
18     True
19     True
20    False
Name: sexo, dtype: bool

In [ ]:
edad_hombres = df[df['sexo'] == 'h']
edad_hombres

       nombre  altura  peso  edad sexo
0        Hugo    1.67    60    23    h
1        Paco    1.73    83    25    h
2        Luis    1.62    70    28    h
4   Francisco    1.86    98    28    h
5      Felipe    1.79   100    26    h
7    Bernardo    1.60    83    31    h
9     Facundo    1.98   112    36    h
13      Diego    1.62    78    23    h
14    Gonzalo    1.58    67    22    h
16   Fernando    1.79    93    27    h
18    Vicente    1.98   102    31    h
19   Benjamín    1.72    78    36    h

In [ ]:
edad_mujeres = df[df['sexo'] != 'h']
edad_mujeres

       nombre  altura  peso  edad sexo
3       Diana    1.58    58    21    m
6     Jacinta    1.69    62    20    m
8     Marisol    1.60    56    30    m
10   Trinidad    1.72    72    21    m
11     Camila    1.63    57    26    m
12   Macarena    1.73    68    27    m
15  Alejandra    1.86    74    21    m
17   Carolina    1.60    63    28    m
20     Gloria    1.58    65    23    m

In [ ]:
print("La edad promedio para Hombres es: ",
np.mean(edad_hombres['edad']))
print("La edad promedio para Mujeres es: ",
np.mean(edad_mujeres['edad']))

La edad promedio para Hombres es:  28.0
La edad promedio para Mujeres es:  24.11111111111111

In [ ]:
# iniciamos el contador
count_female = 0
# para cada elemento de df['sexo']
for i in df['sexo']:
# si es de Sexo Femenino
    if i == 'F':
# sumamos 1 al contador
        count_female += 1
count_female

0

In [108]:
len(df[df['sexo'] == 'F'])

0

In [109]:
contador_hombres_bajo_promedio_altura = 0
# para cada posición y registro
for i, row in df.iterrows():
# si el registro cumple con la condición menor a la media
    if (row['altura'] < df['altura'].mean()):
# Y si éste es de Sexo Masculino
        if row['sexo'] == 'M':
# sumamos 1
            contador_hombres_bajo_promedio_altura += 1
contador_hombres_bajo_promedio_altura

0