In [250]:
%matplotlib inline
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import scipy.stats as stats

In [251]:
plt.style.use('seaborn-whitegrid') # Gráficos estilo seaborn
plt.rcParams["figure.figsize"] = (4, 6) # Tamaño gráficos
plt.rcParams["figure.dpi"] = 200 # resolución gráficos

In [252]:
df = pd.read_csv('datasets/qog_std_cs_jan18.csv')
df.head()

,ccode,cname,ccodealp,ccodecow,ccodewb,version,aid_cpnc,aid_cpsc,aid_crnc,aid_crnio,...,wvs_relacc,wvs_relsch,wvs_relsci,wvs_satfin,wvs_satlif,wvs_screl,wvs_subh,wvs_survself,wvs_tradrat,wvs_trust
0,4,Afghanistan,AFG,700.0,4.0,QoGStdCSJan18,NaN,NaN,29.0,13.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,8,Albania,ALB,339.0,8.0,QoGStdCSJan18,NaN,NaN,26.0,13.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,12,Algeria,DZA,615.0,12.0,QoGStdCSJan18,NaN,NaN,21.0,6.0,...,3.710616,1.704692,3.681347,5.988125,6.301029,5.339371,3.805579,-0.409807,-0.498164,0.179286
3,20,Andorra,AND,232.0,20.0,QoGStdCSJan18,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,24,Angola,AGO,540.0,24.0,QoGStdCSJan18,NaN,NaN,22.0,13.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [253]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 194 entries, 0 to 193
Columns: 1882 entries, ccode to wvs_trust
dtypes: float64(1855), int64(22), object(5)
memory usage: 2.8+ MB

In [254]:
df.shape

(194, 1882)

In [255]:
df_selec = df[['undp_hdi', 'ccodealp', 'ht_region', 'gle_cgdpc', 'imf_pop']]
df_selec

     undp_hdi ccodealp  ht_region   gle_cgdpc    imf_pop
0       0.479      AFG          8   1282.6400  29.825001
1       0.762      ALB          1   8516.7002        NaN
2       0.743      DZA          3   5402.1699  39.113998
3       0.857      AND          5  32367.3300        NaN
4       0.531      AGO          4   3771.2000  25.789000
..        ...      ...        ...         ...        ...
189     0.697      UZB          1   7370.7202  29.746000
190     0.769      VEN          2  10513.9600        NaN
191     0.702      WSM          9   3167.7500   0.192000
192     0.499      YEM          3   2170.9299        NaN
193     0.576      ZMB          4   1916.7900        NaN

[194 rows x 5 columns]

In [1]:
df_selec['region_record'] = df_selec['ht_region'].replace([1,2,3,4,5,6,7,8,9,10], 
                                                            ['EastEurope', 'LatAm', 'NorthAfrica', 'SudSaharian', 
                                                            'WesternDem', 'EastAsia', 'SouthEastAsia', 'SoutAsia', 
                                                            'Pacific', 'Caribbean'])
df_selec.head()

NameError: name 'df_selec' is not defined

In [257]:
df_1 = df_selec.sample(frac = .5, random_state = 5866)

In [258]:
df_1.shape

(97, 6)

In [259]:
df_2 = df[['cname','undp_hdi', 'ccodealp', 'ht_region', 'gle_cgdpc', 'imf_pop', 'ffp_hf', 'wef_qes', 'wdi_expedu', 'wdi_ners']]
df_2

,cname,undp_hdi,ccodealp,ht_region,gle_cgdpc,imf_pop,ffp_hf,wef_qes,wdi_expedu,wdi_ners
0,Afghanistan,0.479,AFG,8,1282.6400,29.825001,8.1,NaN,3.78028,48.750320
1,Albania,0.762,ALB,1,8516.7002,NaN,7.1,4.111339,3.53944,85.278214
2,Algeria,0.743,DZA,3,5402.1699,39.113998,5.1,2.977302,NaN,NaN
3,Andorra,0.857,AND,5,32367.3300,NaN,NaN,NaN,2.99781,NaN
4,Angola,0.531,AGO,4,3771.2000,25.789000,6.0,2.134716,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
189,Uzbekistan,0.697,UZB,1,7370.7202,29.746000,6.3,NaN,NaN,92.207382
190,Venezuela,0.769,VEN,2,10513.9600,NaN,5.2,2.640229,NaN,74.789711
191,Samoa,0.702,WSM,9,3167.7500,0.192000,8.9,NaN,NaN,79.545982
192,Yemen,0.499,YEM,3,2170.9299,NaN,7.5,1.896328,NaN,41.721760
193,Zambia,0.576,ZMB,4,1916.7900,NaN,7.8,4.328835,NaN,NaN

In [260]:
df_2.undp_hdi.describe()

count    186.000000
mean       0.695801
std        0.155289
min        0.347000
25%        0.567500
50%        0.726500
75%        0.804750
max        0.948000
Name: undp_hdi, dtype: float64

In [261]:

df_3 = df[['cname','undp_hdi', 'gle_cgdpc', 'imf_pop']]

In [262]:
def fetch_descriptive(dataframe):
    for key , value in dataframe.iteritems():
        print(value.describe())

In [266]:
fetch_descriptive(df_3)

count    92.000000
mean      0.690228
std       0.153510
min       0.347000
25%       0.557250
50%       0.721000
75%       0.808750
max       0.937000
Name: undp_hdi, dtype: float64
count      97
unique     97
top       LSO
freq        1
Name: ccodealp, dtype: object
count    97.000000
mean      4.639175
std       2.566554
min       1.000000
25%       3.000000
50%       4.000000
75%       6.000000
max      10.000000
Name: ht_region, dtype: float64
count        96.000000
mean      13607.988716
std       16336.002729
min         332.269990
25%        2451.077575
50%        7315.120100
75%       19903.556500
max      104049.440000
Name: gle_cgdpc, dtype: float64
count     73.000000
mean      28.403411
std       51.533461
min        0.011000
25%        1.354000
50%        8.544000
75%       30.709000
max      318.789001
Name: imf_pop, dtype: float64
count              97
unique             10
top       SudSaharian
freq               24
Name: region_record, dtype: object

In [264]:
df_3 = df_selec.sample(frac = .5, random_state = 5866)
df_3

     undp_hdi ccodealp  ht_region   gle_cgdpc     imf_pop  region_record
95      0.495      LSO          4   1539.7900         NaN    SudSaharian
3       0.857      AND          5  32367.3300         NaN     WesternDem
104     0.787      MYS          7  12284.2700   30.709000  SouthEastAsia
20      0.754      BRA          2   9815.2402  202.768997          LatAm
163     0.421      SSD          4         NaN         NaN    SudSaharian
..        ...      ...        ...         ...         ...            ...
114     0.804      MNE          1  14538.5200    0.622000     EastEurope
160     0.665      ZAF          4   8820.0596   54.146999    SudSaharian
93      0.582      LAO          7   2926.7700    6.898000  SouthEastAsia
193     0.576      ZMB          4   1916.7900         NaN    SudSaharian
169     0.553      SYR          3   4284.4199         NaN    NorthAfrica

[97 rows x 6 columns]

In [265]:
def fetch_null_case(dataframe, var, print_list = False):
    tmp = dataframe
    tmp['flagnull'] = tmp[var].isnull()
    count_na = 0
    for i, r in tmp.iterrows():
        if r['flagnull'] is True:
            print(r['cname'])