In [2]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv('datasets/got_battles.csv')

In [51]:
df.head(5)

,me,year,battle_number,attacker_king,defender_king,attacker_1,attacker_2,attacker_3,attacker_4,defender_1,...,defender_size,attacker_commander,defender_commander,summer,location,region,note,attackers_non_baratheon,major_death_or_capture,major_death_and_capture
0,Battle of the Golden Tooth,298,1,Joffrey/Tommen Baratheon,Robb Stark,Lannister,NaN,NaN,NaN,Tully,...,4000.0,Jaime Lannister,"Clement Piper, Vance",1.0,Golden Tooth,The Westerlands,NaN,0,True,False
1,Battle at the Mummer's Ford,298,2,Joffrey/Tommen Baratheon,Robb Stark,Lannister,NaN,NaN,NaN,Baratheon,...,120.0,Gregor Clegane,Beric Dondarrion,1.0,Mummer's Ford,The Riverlands,NaN,0,True,False
2,Battle of Riverrun,298,3,Joffrey/Tommen Baratheon,Robb Stark,Lannister,NaN,NaN,NaN,Tully,...,10000.0,"Jaime Lannister, Andros Brax","Edmure Tully, Tytos Blackwood",1.0,Riverrun,The Riverlands,NaN,0,True,False
3,Battle of the Green Fork,298,4,Robb Stark,Joffrey/Tommen Baratheon,Stark,NaN,NaN,NaN,Lannister,...,20000.0,"Roose Bolton, Wylis Manderly, Medger Cerwyn, H...","Tywin Lannister, Gregor Clegane, Kevan Lannist...",1.0,Green Fork,The Riverlands,NaN,1,True,True
4,Battle of the Whispering Wood,298,5,Robb Stark,Joffrey/Tommen Baratheon,Stark,Tully,NaN,NaN,Lannister,...,6000.0,"Robb Stark, Brynden Tully",Jaime Lannister,1.0,Whispering Wood,The Riverlands,NaN,1,True,True

In [5]:
df['attacker_king'].value_counts('%')

Joffrey/Tommen Baratheon    0.388889
Robb Stark                  0.277778
Balon/Euron Greyjoy         0.194444
Stannis Baratheon           0.138889
Name: attacker_king, dtype: float64

In [6]:
df['attacker_king'].value_counts()

Joffrey/Tommen Baratheon    14
Robb Stark                  10
Balon/Euron Greyjoy          7
Stannis Baratheon            5
Name: attacker_king, dtype: int64

In [7]:
len(df)

38

In [8]:
14 / 38

0.3684210526315789

In [9]:
df['attacker_king'].isna()

0     False
1     False
2     False
3     False
4     False
5     False
6     False
7     False
8     False
9     False
10    False
11    False
12    False
13    False
14    False
15    False
16    False
17    False
18    False
19    False
20    False
21    False
22     True
23    False
24    False
25    False
26    False
27    False
28    False
29     True
30    False
31    False
32    False
33    False
34    False
35    False
36    False
37    False
Name: attacker_king, dtype: bool

In [10]:
df['attacker_king'].isna().value_counts()

False    36
True      2
Name: attacker_king, dtype: int64

In [11]:
df['attackers_non_baratheon'] = np.where(df['attacker_king'] != 'Joffrey/Tommen Baratheon', 1, 0)

In [12]:
df['attackers_non_baratheon'].value_counts()

1    24
0    14
Name: attackers_non_baratheon, dtype: int64

In [13]:
df['attackers_non_baratheon'].value_counts('%')

1    0.631579
0    0.368421
Name: attackers_non_baratheon, dtype: float64

In [14]:
df['attacker_king'].value_counts('%')

Joffrey/Tommen Baratheon    0.388889
Robb Stark                  0.277778
Balon/Euron Greyjoy         0.194444
Stannis Baratheon           0.138889
Name: attacker_king, dtype: float64

In [15]:
battalas_rey = df['attacker_king'].value_counts('%')

In [16]:
#no negatividad
battalas_rey > 0

Joffrey/Tommen Baratheon    True
Robb Stark                  True
Balon/Euron Greyjoy         True
Stannis Baratheon           True
Name: attacker_king, dtype: bool

In [17]:
# aditividad y normalizacion

cummulative_pr = 0
string_pr = ''
for index, value in battalas_rey.items():
    cummulative_pr += value
    string_pr += index + ''
    print(string_pr, cummulative_pr)

Joffrey/Tommen Baratheon 0.3888888888888889
Joffrey/Tommen BaratheonRobb Stark 0.6666666666666667
Joffrey/Tommen BaratheonRobb StarkBalon/Euron Greyjoy 0.8611111111111112
Joffrey/Tommen BaratheonRobb StarkBalon/Euron GreyjoyStannis Baratheon 1.0

In [18]:
df['attacker_king'].unique()

array(['Joffrey/Tommen Baratheon', 'Robb Stark', 'Balon/Euron Greyjoy',
       'Stannis Baratheon', nan], dtype=object)

In [19]:
df.loc[:, ['major_death', 'major_capture']].head(5)

   major_death  major_capture
0          1.0            0.0
1          1.0            0.0
2          0.0            1.0
3          1.0            1.0
4          1.0            1.0

In [20]:
major_death_or_capture = 0
for rowname, rowserie in df.iterrows():
    if rowserie['major_death'] == 1.0 or rowserie['major_capture'] == 1.0:
        print(rowserie['me'])
        major_death_or_capture += 1

Battle of the Golden Tooth
Battle at the Mummer's Ford
Battle of Riverrun
Battle of the Green Fork
Battle of the Whispering Wood
Battle of Winterfell
Sack of Torrhen's Square
Sack of Winterfell
Battle of Oxcross
Siege of Storm's End
Sack of Harrenhal
Battle of the Blackwater
Battle of Duskendale
Retaking of Harrenhal
The Red Wedding
Siege of Seagard
Battle of Castle Black
Siege of Raventree

In [21]:
len(df)

38

In [22]:
major_death_or_capture / len(df)

0.47368421052631576

In [23]:
df['major_death_or_capture'] = np.logical_or(df['major_death'] == 1.0,
                                            df['major_capture'] == 1.0)

In [24]:
df['major_death_or_capture'].value_counts('%')

False    0.526316
True     0.473684
Name: major_death_or_capture, dtype: float64

In [25]:
major_death_and_capture = 0
for rowname, rowserie in df.iterrows():
    if rowserie['major_death'] == 1.0 and rowserie['major_capture'] == 1.0:
        print(rowserie['me'])
        major_death_and_capture += 1

Battle of the Green Fork
Battle of the Whispering Wood
Battle of Oxcross
Battle of the Blackwater
The Red Wedding
Battle of Castle Black

In [26]:
major_death_and_capture / len(df)

0.15789473684210525

In [27]:
df['major_death_and_capture'] = np.logical_and(df['major_death'] == 1.0,
                                            df['major_capture'] == 1.0)

In [28]:
df['major_death_and_capture'].value_counts('%')

False    0.842105
True     0.157895
Name: major_death_and_capture, dtype: float64

In [29]:
muerte_importante_y_barathoen = 0
for rowname, rowserie in df.iterrows():
    if rowserie['major_death'] == 1.0 and rowserie['attacker_king'] == 'Joffrey/Tommen Baratheon':
        print(rowserie['me'])
        muerte_importante_y_barathoen += 1

Battle of the Golden Tooth
Battle at the Mummer's Ford
Sack of Winterfell
Retaking of Harrenhal
The Red Wedding

In [30]:
batalla_baratheon = df['attacker_king'].value_counts().get('Joffrey/Tommen Baratheon')

In [31]:
print(batalla_baratheon)

14

In [32]:
muerte_importante_y_barathoen / batalla_baratheon

0.35714285714285715

In [33]:
def hipotenusa(cateto1, cateto2):
    tmp = np.sqrt(cateto1 ** 2 + cateto2 ** 2)
    return tmp

In [34]:
hipotenusa(6,8)

10.0

In [35]:
def hipotenusa(cateto1 = 3, cateto2 = 4):
    '''
    Definicion: calcula la hioptenusa segun parametros por defecto o ingresados por un usuario 
    Parametros de ingreso: cateto1 y cateto2
    cateto1 y cateto2 son del tipo integer, y ambos seran elevados al cuadrado
    Retorno: retorna la hipotenusa. Por defecto me devuelve un float
    '''
    tmp = np.sqrt(cateto1 ** 2 + cateto2 ** 2)
    return tmp

In [36]:
hipotenusa()

5.0

In [37]:
from scipy import stats
def fetch_descriptives(x):
    tmp_mean = np.mean(x)
    tmp_median = np.median(x)
    tmp_var = np.var(x)
    tmp_mode = stats.mode(x)
    return tmp_mean, tmp_median, tmp_var, tmp_mode

In [38]:
fetch_descriptives(df['attacker_size'])

(9942.541666666666,
 nan,
 394261997.7482639,
 ModeResult(mode=array([nan]), count=array([14])))

In [39]:
type(fetch_descriptives(df['attacker_size']))

tuple

In [40]:
def fetch_descriptives(x):
    x = x.dropna()
    tmp_mean = np.mean(x)
    tmp_median = np.median(x)
    tmp_var = np.var(x)
    tmp_mode = stats.mode(x)[0][0]
    return tmp_mean, tmp_median, tmp_var, tmp_mode

In [41]:
fetch_descriptives(df['attacker_size'])

(9942.541666666666, 4000.0, 394261997.7482639, 6000.0)

In [42]:
type(stats.mode(df['attacker_size'])[0][0])

numpy.float64

In [43]:
mean_attacker, median_attacker, mode_atacker, var_attacker = fetch_descriptives(df['attacker_size'])

In [44]:
mean_attacker

9942.541666666666

In [45]:
median_attacker

4000.0

In [46]:
var_attacker

6000.0

In [47]:
mode_atacker

394261997.7482639

In [48]:
isinstance(df['attacker_size'],pd.Series)

True

In [49]:
def fetch_descriptives(x):
    if isinstance(x, pd.Series) is True:
        if x != 'object':
            x = x.dropna()
            tmp_mean = np.mean(x)
            tmp_median = np.median(x)
            tmp_var = np.var(x)
            tmp_mode = stats.mode(x)[0][0]
        else:
            raise TypeError('La serie no contiene datos del tipo numerico')
    else:
        raise TypeError('El dato ingresado no es una Serie.')
        
    return tmp_mean, tmp_median, tmp_var, tmp_mode

In [50]:
fetch_descriptives('Lorem_ipsum')

TypeError: El dato ingresado no es una Serie.

In [ ]:
def get_conditional_pr(df, a_var, a_event, b_var, b_event):
    tmp_intersection_counter = 0
    #Verificar si es que las variables existen en el dataframe
    #Verificar si es que los eventos existen en las variables declaradas
    #Generar el mismo resultado con numpy
    for _, rowserie in df.iterrows():
        if rowserie[a_var] == a_event and rowserie[b_var] == b_event:
            tmp_intersection_counter += 1

    tmp_b_event_freq = df[b_var].value_counts().get(b_event)

    tmp_result = tmp_intersection_counter / tmp_b_event_freq
    
    print(f'Pr ({a_event} | {b_event}) = {tmp_result} ')
    return tmp_result

In [ ]:
get_conditional_pr(df , a_var = 'major_death', a_event = 1.0, b_var = 'attacker_king', b_event = 'Joffrey/Tommen Baratheon')

Pr (1.0 | Joffrey/Tommen Baratheon) = 0.35714285714285715

0.35714285714285715