In [1]:
import pandas as pd
import numpy as np

In [6]:
df_got = pd.read_csv('datasets/got_battles.csv')
df_got.head(5)

,me,year,battle_number,attacker_king,defender_king,attacker_1,attacker_2,attacker_3,attacker_4,defender_1,...,major_death,major_capture,attacker_size,defender_size,attacker_commander,defender_commander,summer,location,region,note
0,Battle of the Golden Tooth,298,1,Joffrey/Tommen Baratheon,Robb Stark,Lannister,NaN,NaN,NaN,Tully,...,1.0,0.0,15000.0,4000.0,Jaime Lannister,"Clement Piper, Vance",1.0,Golden Tooth,The Westerlands,NaN
1,Battle at the Mummer's Ford,298,2,Joffrey/Tommen Baratheon,Robb Stark,Lannister,NaN,NaN,NaN,Baratheon,...,1.0,0.0,NaN,120.0,Gregor Clegane,Beric Dondarrion,1.0,Mummer's Ford,The Riverlands,NaN
2,Battle of Riverrun,298,3,Joffrey/Tommen Baratheon,Robb Stark,Lannister,NaN,NaN,NaN,Tully,...,0.0,1.0,15000.0,10000.0,"Jaime Lannister, Andros Brax","Edmure Tully, Tytos Blackwood",1.0,Riverrun,The Riverlands,NaN
3,Battle of the Green Fork,298,4,Robb Stark,Joffrey/Tommen Baratheon,Stark,NaN,NaN,NaN,Lannister,...,1.0,1.0,18000.0,20000.0,"Roose Bolton, Wylis Manderly, Medger Cerwyn, H...","Tywin Lannister, Gregor Clegane, Kevan Lannist...",1.0,Green Fork,The Riverlands,NaN
4,Battle of the Whispering Wood,298,5,Robb Stark,Joffrey/Tommen Baratheon,Stark,Tully,NaN,NaN,Lannister,...,1.0,1.0,1875.0,6000.0,"Robb Stark, Brynden Tully",Jaime Lannister,1.0,Whispering Wood,The Riverlands,NaN

In [7]:
df_got.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 38 entries, 0 to 37
Data columns (total 25 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   me                  38 non-null     object
 1   year                38 non-null     int64
 2   battle_number       38 non-null     int64
 3   attacker_king       36 non-null     object
 4   defender_king       35 non-null     object
 5   attacker_1          38 non-null     object
 6   attacker_2          10 non-null     object
 7   attacker_3          3 non-null      object
 8   attacker_4          2 non-null      object
 9   defender_1          37 non-null     object
 10  defender_2          2 non-null      object
 11  defender_3          0 non-null      float64
 12  defender_4          0 non-null      float64
 13  attacker_outcome    37 non-null     object
 14  battle_type         37 non-null     object
 15  major_death         37 non-null     float64
 16  major_capture       37 non-null     float64
 17  attacker_size       24 non-null     float64
 18  defender_size       19 non-null     float64
 19  attacker_commander  37 non-null     object
 20  defender_commander  28 non-null     object
 21  summer              37 non-null     float64
 22  location            37 non-null     object
 23  region              38 non-null     object
 24  note                5 non-null      object
dtypes: float64(7), int64(2), object(16)
memory usage: 7.5+ KB

In [12]:
df_got.shape

(38, 25)

In [15]:
df_got['attacker_king']

0     Joffrey/Tommen Baratheon
1     Joffrey/Tommen Baratheon
2     Joffrey/Tommen Baratheon
3                   Robb Stark
4                   Robb Stark
5                   Robb Stark
6     Joffrey/Tommen Baratheon
7          Balon/Euron Greyjoy
8          Balon/Euron Greyjoy
9          Balon/Euron Greyjoy
10                  Robb Stark
11         Balon/Euron Greyjoy
12         Balon/Euron Greyjoy
13    Joffrey/Tommen Baratheon
14                  Robb Stark
15           Stannis Baratheon
16    Joffrey/Tommen Baratheon
17                  Robb Stark
18                  Robb Stark
19           Stannis Baratheon
20                  Robb Stark
21                  Robb Stark
22                         NaN
23    Joffrey/Tommen Baratheon
24    Joffrey/Tommen Baratheon
25    Joffrey/Tommen Baratheon
26                  Robb Stark
27           Stannis Baratheon
28    Joffrey/Tommen Baratheon
29                         NaN
30           Stannis Baratheon
31         Balon/Euron Greyjoy
32         Balon/Euron Greyjoy
33    Joffrey/Tommen Baratheon
34    Joffrey/Tommen Baratheon
35    Joffrey/Tommen Baratheon
36    Joffrey/Tommen Baratheon
37           Stannis Baratheon
Name: attacker_king, dtype: object

In [10]:
# No negatividad
batallas = df_got['attacker_king'].value_counts()
batallas

Joffrey/Tommen Baratheon    14
Robb Stark                  10
Balon/Euron Greyjoy          7
Stannis Baratheon            5
Name: attacker_king, dtype: int64

In [11]:
batallas = df_got['attacker_king'].value_counts('%')
batallas

Joffrey/Tommen Baratheon    0.388889
Robb Stark                  0.277778
Balon/Euron Greyjoy         0.194444
Stannis Baratheon           0.138889
Name: attacker_king, dtype: float64

In [14]:
batallas = df_got['attacker_king'].value_counts(normalize = True)
batallas

Joffrey/Tommen Baratheon    0.388889
Robb Stark                  0.277778
Balon/Euron Greyjoy         0.194444
Stannis Baratheon           0.138889
Name: attacker_king, dtype: float64

In [16]:
# Aditividad
batallas[0] + batallas[1]

0.6666666666666667

In [17]:
# NormalizaciÃ³n
batallas.sum()

1.0

In [18]:
muertes_baratheon = 0
for index, row in df.iterrows():
    if (row['attacker_king']) == 'Joffrey/Tommen Baratheon' and (row['major_death'] == 1):
        muertes_baratheon += 1

In [19]:
batallas_baratheon = df_got['attacker_king'].value_counts().get('Joffrey/Tommen Baratheon')
batallas_baratheon

14

In [22]:
print(f'La probabilidad de que muera un Baratheon es {muertes_baratheon/batallas_baratheon}')

La probabilidad de que muera un Baratheon es 0.35714285714285715

In [34]:
def prob_rey_muerto(rey):
    '''
    rey: Esta variable debe entrar como string, y debe contener el valor preciso de la columna 'attacker_king'
    '''
    muertes_baratheon = 0
    for index, row in df_got.iterrows():
        if (row['attacker_king']) == rey and (row['major_death'] == 1):
            muertes_baratheon += 1
    batallas_baratheon = df_got['attacker_king'].value_counts().get(rey) 
    print(f'La probabilidad de que muera un {rey} es {muertes_baratheon/batallas_baratheon}')

In [35]:
prob_rey_muerto('Joffrey/Tommen Baratheon')

La probabilidad de que muera un Joffrey/Tommen Baratheon es 0.35714285714285715

In [36]:
prob_rey_muerto('Robb Stark')

La probabilidad de que muera un Robb Stark es 0.5

In [37]:
prob_rey_muerto('Balon/Euron Greyjoy')

La probabilidad de que muera un Balon/Euron Greyjoy es 0.0

In [38]:
prob_rey_muerto('Stannis Baratheon')

La probabilidad de que muera un Stannis Baratheon es 0.6