In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('datasets/ramen-ratings.csv')
df.head()

,Review #,Brand,Variety,Style,Country,Stars,Top Ten
0,2580,New Touch,T's Restaurant Tantanmen,Cup,Japan,3.75,NaN
1,2579,Just Way,Noodles Spicy Hot Sesame Spicy Hot Sesame Guan...,Pack,Taiwan,1,NaN
2,2578,Nissin,Cup Noodles Chicken Vegetable,Cup,USA,2.25,NaN
3,2577,Wei Lih,GGE Ramen Snack Tomato Flavor,Pack,Taiwan,2.75,NaN
4,2576,Ching's Secret,Singapore Curry,Pack,India,3.75,NaN

In [3]:
df.sample(10)

,Review #,Brand,Variety,Style,Country,Stars,Top Ten
2166,414,Doll,Artificial Beef Flavor,Pack,Hong Kong,2.5,NaN
2442,138,Unif,100 Furong Shrimp,NaN,Taiwan,3,NaN
1590,990,Nissin,Pan Asian Kitchen Spicy Pad Thai,Tray,USA,2.75,NaN
2193,387,Nissin,Bowl Noodles Rich & Savory Beef,Bowl,USA,3.75,NaN
1910,670,Saigon Ve Wong,Kung Fu Artificial Chicken Rice Noodle,Bowl,Vietnam,3.5,NaN
1281,1299,Mr. Noodles,Noodles In A Cup Spicy Chicken Simulated Flavour,Cup,Canada,1,NaN
194,2386,Maggi,2 Minute Noodles Curry Flavour,Pack,Fiji,4,NaN
1632,948,Trident,Hot & Spicy 2 Minute Noodles,Pack,Australia,3.5,NaN
2041,539,Nissin,Demae Ramen Chicken,Pack,Japan,3,NaN
233,2347,Nissin,Demae Iccho Tonkotsu Flavour Instant Noodle (B...,Bowl,Hong Kong,3,NaN

In [4]:
df.dtypes

Review #     int64
Brand       object
Variety     object
Style       object
Country     object
Stars       object
Top Ten     object
dtype: object

In [5]:
df.Stars.unique()

array(['3.75', '1', '2.25', '2.75', '4.75', '4', '0.25', '2.5', '5',
       '4.25', '4.5', '3.5', 'Unrated', '1.5', '3.25', '2', '0', '3',
       '0.5', '4.00', '5.0', '3.50', '3.8', '4.3', '2.3', '5.00', '3.3',
       '4.0', '3.00', '1.75', '3.0', '4.50', '0.75', '1.25', '1.1', '2.1',
       '0.9', '3.1', '4.125', '3.125', '2.125', '2.9', '0.1', '2.8',
       '3.7', '3.4', '3.6', '2.85', '3.2', '3.65', '1.8'], dtype=object)

In [6]:
rated_only = df[df.Stars != 'Unrated']
rated_only['Stars'] = pd.to_numeric(rated_only['Stars'])

C:\Users\dmard\AppData\Local\Temp\ipykernel_15528\4108263203.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  rated_only['Stars'] = pd.to_numeric(rated_only['Stars'])

In [7]:
print(f'''
Con pandas

Cuartil 1: {rated_only.Stars.quantile(0.25)}
Cuartil 2: {rated_only.Stars.quantile(0.5)}
Cuartil 3: {rated_only.Stars.quantile(0.75)}
''')

Con pandas

Cuartil 1: 3.25
Cuartil 2: 3.75
Cuartil 3: 4.25

In [8]:
print(f'''
Con numpy

Cuartil 1: {np.quantile(rated_only.Stars, 0.25)}
Cuartil 2: {np.quantile(rated_only.Stars, 0.5)}
Cuartil 3: {np.quantile(rated_only.Stars, 0.75)}
''')

Con numpy

Cuartil 1: 3.25
Cuartil 2: 3.75
Cuartil 3: 4.25

In [9]:
iqr = np.quantile(rated_only.Stars, 0.75) - np.quantile(rated_only.Stars, 0.25)
iqr

1.0