In [56]:
#● Importa pandas y numpy siguiendo las convenciones.
import pandas as pd
import numpy as np

In [57]:
#● Lee la base de datos worldcup2014.csv y asígnela a un objeto df.
df = pd.read_csv('datasets/worldcup2014.csv')

In [58]:
#● Solicita las primeras 5 observaciones con head.
df.head(5)

,team,continent,group,group_pos,cantidad_juegos,juegos_ganados,juegos_empatados,juegos_perdidos,goles_favor,goles_contra,goles_diferencia,puntos,clasificado
0,Brazil,southamerica,A,1,3,2,1,0,7,2,5,7,1
1,Mexico,northamerica,A,2,3,2,1,0,4,1,3,7,1
2,Croatia,europe,A,3,3,1,0,2,6,6,0,3,0
3,Cameroon,africa,A,4,3,0,0,3,1,9,−8,0,0
4,Netherlands,europe,B,1,3,3,0,0,10,3,7,9,1

In [59]:
#● Solicita las ultimas 5 observaciones con tail.
df.tail(5)

,team,continent,group,group_pos,cantidad_juegos,juegos_ganados,juegos_empatados,juegos_perdidos,goles_favor,goles_contra,goles_diferencia,puntos,clasificado
27,Ghana,africa,G,4,3,0,1,2,4,6,−2,1,0
28,Belgium,europe,H,1,3,3,0,0,4,1,3,9,1
29,Algeria,africa,H,2,3,1,1,1,6,5,1,4,1
30,Russia,europe,H,3,3,0,2,1,2,3,−1,2,0
31,South Korea,asia,H,4,3,0,1,2,3,6,−3,1,0

In [60]:
'''
Frecuencia de continent: utilizando value_counts responde lo siguiente:
● ¿Cuál es el continente con una mayor presencia en la muestra?
● ¿Cuál es la probabilidad de elegir un equipo asiático al azar?
● ¿Cuál es la probabilidad de elegir un equipo africano al azar?
'''
continente_mayor_frecuiencia = df['continent'].value_counts()
continente_mayor_frecuiencia

europe          13
southamerica     6
africa           5
northamerica     4
asia             4
Name: continent, dtype: int64

In [61]:
df.loc[:, ['continent', 'clasificado']].head(30)

       continent  clasificado
0   southamerica            1
1   northamerica            1
2         europe            0
3         africa            0
4         europe            1
5   southamerica            1
6         europe            0
7           asia            0
8   southamerica            1
9         europe            1
10        africa            0
11          asia            0
12  northamerica            1
13  southamerica            1
14        europe            0
15        europe            0
16        europe            1
17        europe            1
18  southamerica            0
19  northamerica            0
20  southamerica            1
21        africa            1
22        europe            0
23          asia            0
24        europe            1
25  northamerica            1
26        europe            0
27        africa            0
28        europe            1
29        africa            1

In [62]:
escoje_asia = 0
for rowname, rowserie in df.iterrows():
    if rowserie['continent'] == 'asia' and rowserie['clasificado'] == 1.0:
        print(rowserie['team'])
        escoje_asia += 1
print(escoje_asia)

0

In [63]:
len(df)

32

In [64]:
escoje_asia / len(df)

0.0

In [65]:
df['escoje_asia'] = np.logical_and(df['continent'] == 'asia',
                                df['clasificado'] == 1.0)

In [66]:
df['escoje_asia'].value_counts('%')

False    1.0
Name: escoje_asia, dtype: float64

In [67]:
escoje_africa = 0
for rowname, rowserie in df.iterrows():
    if rowserie['continent'] == 'africa' and rowserie['clasificado'] == 1.0:
        print(rowserie['team'])
        escoje_africa	 += 1

print(escoje_africa)

Nigeria
Algeria
2

In [68]:
len(df)

32

In [69]:
escoje_africa / len(df)

0.0625

In [70]:
df['escoje_africa'] = np.logical_or(df['continent'] == 'africa',
                                df['clasificado'] == 1.0)

In [71]:
df['escoje_africa'].value_counts('%')

True     0.59375
False    0.40625
Name: escoje_africa, dtype: float64