In [1]:
#● Importa pandas y numpy siguiendo las convenciones.
import pandas as pd
import numpy as np

In [2]:
#● Lee la base de datos worldcup2014.csv y asígnela a un objeto df.
df = pd.read_csv('datasets/worldcup2014.csv')

In [3]:
#● Solicita las primeras 5 observaciones con head.
df.head(5)

,team,continent,group,group_pos,cantidad_juegos,juegos_ganados,juegos_empatados,juegos_perdidos,goles_favor,goles_contra,goles_diferencia,puntos,clasificado
0,Brazil,southamerica,A,1,3,2,1,0,7,2,5,7,1
1,Mexico,northamerica,A,2,3,2,1,0,4,1,3,7,1
2,Croatia,europe,A,3,3,1,0,2,6,6,0,3,0
3,Cameroon,africa,A,4,3,0,0,3,1,9,−8,0,0
4,Netherlands,europe,B,1,3,3,0,0,10,3,7,9,1

In [4]:
#● Solicita las ultimas 5 observaciones con tail.
df.tail(5)

,team,continent,group,group_pos,cantidad_juegos,juegos_ganados,juegos_empatados,juegos_perdidos,goles_favor,goles_contra,goles_diferencia,puntos,clasificado
27,Ghana,africa,G,4,3,0,1,2,4,6,−2,1,0
28,Belgium,europe,H,1,3,3,0,0,4,1,3,9,1
29,Algeria,africa,H,2,3,1,1,1,6,5,1,4,1
30,Russia,europe,H,3,3,0,2,1,2,3,−1,2,0
31,South Korea,asia,H,4,3,0,1,2,3,6,−3,1,0

In [5]:
'''
Frecuencia de continent: utilizando value_counts responde lo siguiente:
● ¿Cuál es el continente con una mayor presencia en la muestra?
● ¿Cuál es la probabilidad de elegir un equipo asiático al azar?
● ¿Cuál es la probabilidad de elegir un equipo africano al azar?
'''
continente_mayor_frecuiencia = df['continent'].value_counts()
continente_mayor_frecuiencia

europe          13
southamerica     6
africa           5
northamerica     4
asia             4
Name: continent, dtype: int64

In [18]:
continente_mayor_frecuiencia = df['continent'].value_counts('%')
continente_mayor_frecuiencia

europe          0.40625
southamerica    0.18750
africa          0.15625
northamerica    0.12500
asia            0.12500
Name: continent, dtype: float64

In [19]:
continente_mayor_frecuiencia = df['continent'].value_counts(normalize = True)
continente_mayor_frecuiencia

europe          0.40625
southamerica    0.18750
africa          0.15625
northamerica    0.12500
asia            0.12500
Name: continent, dtype: float64

In [6]:
df.loc[:, ['continent', 'clasificado']].head(30)

       continent  clasificado
0   southamerica            1
1   northamerica            1
2         europe            0
3         africa            0
4         europe            1
5   southamerica            1
6         europe            0
7           asia            0
8   southamerica            1
9         europe            1
10        africa            0
11          asia            0
12  northamerica            1
13  southamerica            1
14        europe            0
15        europe            0
16        europe            1
17        europe            1
18  southamerica            0
19  northamerica            0
20  southamerica            1
21        africa            1
22        europe            0
23          asia            0
24        europe            1
25  northamerica            1
26        europe            0
27        africa            0
28        europe            1
29        africa            1

In [7]:
#● ¿Cuál es la probabilidad de elegir un equipo asiático al azar?
escoje_asia = 0
for rowname, rowserie in df.iterrows():
    if rowserie['continent'] == 'asia' and rowserie['clasificado'] == 1.0:
        print(rowserie['team'])
        escoje_asia += 1
print(escoje_asia)

0

In [8]:
len(df)

32

In [9]:
escoje_asia / len(df)

0.0

In [10]:
df['escoje_asia'] = np.logical_and(df['continent'] == 'asia',
                                df['clasificado'] == 1.0)

In [11]:
#● ¿Cuál es la probabilidad de elegir un equipo asiático al azar?
# ningun equipo asiatico clasifico en la muestra por lo que hay una probabilidad del 100% de que no se escoja un equipo asiatico
df['escoje_asia'].value_counts('%')

False    1.0
Name: escoje_asia, dtype: float64

In [12]:
#● ¿Cuál es la probabilidad de elegir un equipo africano al azar?
escoje_africa = 0
for rowname, rowserie in df.iterrows():
    if rowserie['continent'] == 'africa' and rowserie['clasificado'] == 1.0:
        print(rowserie['team'])
        escoje_africa	 += 1

print(escoje_africa)

Nigeria
Algeria
2

In [13]:
len(df)

32

In [14]:
escoje_africa / len(df)

0.0625

In [15]:
df['escoje_africa'] = np.logical_and(df['continent'] == 'africa',
                                df['clasificado'] == 1.0)

In [16]:
#● ¿Cuál es la probabilidad de elegir un equipo africano al azar?
#solo dos paises africanos tubieron clasiificacion, por lo que hay una probabilidad de casi un 93% de no escojer a uno de estos equipos
df['escoje_africa'].value_counts('%')

False    0.9375
True     0.0625
Name: escoje_africa, dtype: float64

In [17]:
df

,team,continent,group,group_pos,cantidad_juegos,juegos_ganados,juegos_empatados,juegos_perdidos,goles_favor,goles_contra,goles_diferencia,puntos,clasificado,escoje_asia,escoje_africa
0,Brazil,southamerica,A,1,3,2,1,0,7,2,5,7,1,False,False
1,Mexico,northamerica,A,2,3,2,1,0,4,1,3,7,1,False,False
2,Croatia,europe,A,3,3,1,0,2,6,6,0,3,0,False,False
3,Cameroon,africa,A,4,3,0,0,3,1,9,−8,0,0,False,False
4,Netherlands,europe,B,1,3,3,0,0,10,3,7,9,1,False,False
5,Chile,southamerica,B,2,3,2,0,1,5,3,2,6,1,False,False
6,Spain,europe,B,3,3,1,0,2,4,7,−3,3,0,False,False
7,Australia,asia,B,4,3,0,0,3,3,9,−6,0,0,False,False
8,Colombia,southamerica,C,1,3,3,0,0,9,2,7,9,1,False,False
9,Greece,europe,C,2,3,1,1,1,2,4,−2,4,1,False,False
10,Ivory Coast,africa,C,3,3,1,0,2,4,5,−1,3,0,False,False
11,Japan,asia,C,4,3,0,1,2,2,6,−4,1,0,False,False
12,Costa Rica,northamerica,D,1,3,2,1,0,4,1,3,7,1,False,False
13,Uruguay,southamerica,D,2,3,2,0,1,4,4,0,6,1,False,False
14,Italy,europe,D,3,3,1,0,2,2,3,−1,3,0,False,False
15,England,europe,D,4,3,0,1,2,2,4,−2,1,0,False,False
16,France,europe,E,1,3,2,1,0,8,2,6,7,1,False,False
17,Switzerland,europe,E,2,3,2,0,1,7,6,1,6,1,False,False
18,Ecuador,southamerica,E,3,3,1,1,1,3,3,0,4,0,False,False
19,Honduras,northamerica,E,4,3,0,0,3,1,8,−7,0,0,False,False
20,Argentina,southamerica,F,1,3,3,0,0,6,3,3,9,1,False,False
21,Nigeria,africa,F,2,3,1,1,1,3,3,0,4,1,False,True
22,Bosnia and Herzegovina,europe,F,3,3,1,0,2,4,4,0,3,0,False,False
23,Iran,asia,F,4,3,0,1,2,1,4,−3,1,0,False,False
24,Germany,europe,G,1,3,2,1,0,7,2,5,7,1,False,False
25,United States,northamerica,G,2,3,1,1,1,4,4,0,4,1,False,False
26,Portugal,europe,G,3,3,1,1,1,4,7,−3,4,0,False,False
27,Ghana,africa,G,4,3,0,1,2,4,6,−2,1,0,False,False
28,Belgium,europe,H,1,3,3,0,0,4,1,3,9,1,False,False
29,Algeria,africa,H,2,3,1,1,1,6,5,1,4,1,False,True
30,Russia,europe,H,3,3,0,2,1,2,3,−1,2,0,False,False
31,South Korea,asia,H,4,3,0,1,2,3,6,−3,1,0,False,False