<h1 align="center" style="background-color:DodgerBlue;" style="color:Tomato>Desafío - Funciones y probabilidad básica</h1>

>● Para realizar este desafío debes haber estudiado previamente todo el material disponible correspondiente a la unidad.
>
>● Una vez terminado el desafío, comprime la carpeta que contiene el desarrollo de los requerimientos solicitados y sube el .zip en el LMS.
>
>● Desarrollo desafío:
>
>>○ El desafío se debe desarrollar de manera Individual.
>
>>○ Puntaje total: 10 puntos.

<h1 align="center" style="background-color:DodgerBlue;">Desafío 1: Generación de funciones</h1> 

>● Genere funciones para calcular la media y varianza de un vector. Debe cumplir con los siguientes requisitos:
>
>>○ Ambas funciones deben ingresar un argumento x correspondiente al vector.
>
>>○ Las funciones deben contener docstrings con la documentación asociada a la variable y retornar un valor utilizando return.
>
>>○ La función de la varianza se debe llamar a la función de la media.
>
>● Utilice las funciones para reportar la información sobre goles_favor, goles_contra y puntos.
>
>● Desarrollo desafío:
>>○ El desafío se debe desarrollar de manera Individual.
>
>>○ Puntaje total: 10 puntos.
>
>>Utilice las funciones para reportar la información sobre goles_favor, goles_contra y puntos.
>
>(1 punto)

In [70]:
import pandas as pd
import numpy as np
import random

In [71]:
df = pd.read_csv('worldcup2014.csv')
df.head()

,team,continent,group,group_pos,cantidad_juegos,juegos_ganados,juegos_empatados,juegos_perdidos,goles_favor,goles_contra,goles_diferencia,puntos,clasificado
0,Brazil,southamerica,A,1,3,2,1,0,7,2,5,7,1
1,Mexico,northamerica,A,2,3,2,1,0,4,1,3,7,1
2,Croatia,europe,A,3,3,1,0,2,6,6,0,3,0
3,Cameroon,africa,A,4,3,0,0,3,1,9,−8,0,0
4,Netherlands,europe,B,1,3,3,0,0,10,3,7,9,1

In [72]:
#● Genere funciones para calcular la media y varianza de un vector. Debe cumplir con los siguientes requisitos:
#○ Ambas funciones deben ingresar un argumento x correspondiente al vector.
#○ Las funciones deben contener docstrings con la documentación asociada a la variable y retornar un valor utilizando return.
#○ La función de la varianza se debe llamar a la función de la media.
# Utilice las funciones para reportar la información sobre goles_favor, goles_contra y puntos.

def mean_vector(x):
    '''
mean_rows(): Funcion encargada de calcular el valor promedio de una columna en particular
x: Variable encargada de pasar la columna a la funcion
x debe resivir solo valores numericos
return tmp_vector: Retorno de variable que almacena el resultado de la funcion
    '''
    x = x.dropna()
    tmp_mean = np.mean(x)# Elimina valores nulos o perdido, limpia los datos
    print(f'El promedio es: {tmp_mean}')
    return tmp_mean

def var_vector(x):
    '''
var_vector(): Funcion encargada de calcular la varianza de una columna en particular
x: Variable encargada de pasar la columna a la funcion
x debe resivir solo valores numericos
return tmp_var, tmp_mean: Retorno de variables que almacenan los resultados de la funcion
    '''
    x = x.dropna()# Elimina valores nulos o perdido, limpia los datos
    tmp_var = np.var(x)
    tmp_mean = np.mean(x)
    print(f'La varianza es: {tmp_var}\nLa media es: {tmp_mean}')
    return tmp_var, tmp_mean

In [73]:
mean_gf= mean_vector(df['goles_favor'])
mean_gc = mean_vector(df['goles_contra'])
mean_p = mean_vector(df['puntos'])
print(f'El promedio de goles a favor es: {mean_gf}\nEl promedio de goles en contra es: {mean_gc}\nEl promedio de puntos es: {mean_p}')

El promedio es: 4.25
El promedio es: 4.25
El promedio es: 4.21875
El promedio de goles a favor es: 4.25
El promedio de goles en contra es: 4.25
El promedio de puntos es: 4.21875

In [74]:
var_gf= var_vector(df['goles_favor'])
var_gc = var_vector(df['goles_contra'])
var_p = var_vector(df['puntos'])
print(f'La varianza de goles a favor es: {var_gf}\nLa varianza de goles en contra es: {var_gc}\nLa varianza de puntos es: {var_p}')

La varianza es: 5.1875
La media es: 4.25
La varianza es: 4.8125
La media es: 4.25
La varianza es: 8.0458984375
La media es: 4.21875
La varianza de goles a favor es: (5.1875, 4.25)
La varianza de goles en contra es: (4.8125, 4.25)
La varianza de puntos es: (8.0458984375, 4.21875)

### Desafío 2:
>Utilizando el método groupby de la clase DataFrame, en conjunto con la función .agg de pandas, calcule la media, la varianza y desviación estándar de la cantidad de goles a favor, en contra y de la cantidad de puntos por continente.
>
>>● ¿En qué continente se observa una mayor cantidad de goles a favor?
>
>>● ¿En qué continente se observa una mayor cantidad de goles en contra?
>
>>● ¿En qué continente se observa una mayor cantidad de puntos en promedio?
>
>(2 puntos)

In [75]:
gf_continent = df.groupby(['continent'])['goles_favor'].agg('max').sort_values()
print(f'El continente com mayores goles a favor es {gf_continent.index[4]}\n\n{gf_continent}')#\n{gf_continent}

El continente com mayores goles a favor es europe

continent
asia             3
northamerica     4
africa           6
southamerica     9
europe          10
Name: goles_favor, dtype: int64

In [76]:
gc_continent = df.groupby(['continent'])['goles_contra'].agg('max').sort_values()
print(f'El continente com mayores en contra es {gc_continent.index[3]} y {gc_continent.index[4]}\n\n{gc_continent}')

El continente com mayores en contra es africa y asia

continent
southamerica    4
europe          7
northamerica    8
africa          9
asia            9
Name: goles_contra, dtype: int64

In [77]:

df_clasificacion = df.groupby(['continent'])['puntos'].agg('max').sort_values()
print(f'El continente com mas puntos es {df_clasificacion.index[3]} con {df_clasificacion[3]} puntos y {df_clasificacion.index[4]} con {df_clasificacion[4]}\n\n{df_clasificacion}')

El continente com mas puntos es europe con 9 puntos y southamerica con 9

continent
asia            1
africa          4
northamerica    7
europe          9
southamerica    9
Name: puntos, dtype: int64

In [78]:
describe_clas = df_clasificacion.agg([np.max,np.min,np.mean,np.var,np.std,np.median])
describe_clas

amax       9.000000
amin       1.000000
mean       6.000000
var       12.000000
std        3.464102
median     7.000000
Name: puntos, dtype: float64

In [79]:
gf_continent.agg([np.max,np.min,np.mean,np.var,np.std,np.median])

amax      10.00000
amin       3.00000
mean       6.40000
var        9.30000
std        3.04959
median     6.00000
Name: goles_favor, dtype: float64

In [80]:
gc_continent.agg([np.max,np.min,np.mean,np.var,np.std,np.median])

amax      9.000000
amin      4.000000
mean      7.400000
var       4.300000
std       2.073644
median    8.000000
Name: goles_contra, dtype: float64

In [81]:
new_df = df.loc[:, ['team', 'continent', 'clasificado', 'goles_contra', 'goles_favor', 'puntos']]
new_df

,team,continent,clasificado,goles_contra,goles_favor,puntos
0,Brazil,southamerica,1,2,7,7
1,Mexico,northamerica,1,1,4,7
2,Croatia,europe,0,6,6,3
3,Cameroon,africa,0,9,1,0
4,Netherlands,europe,1,3,10,9
5,Chile,southamerica,1,3,5,6
6,Spain,europe,0,7,4,3
7,Australia,asia,0,9,3,0
8,Colombia,southamerica,1,2,9,9
9,Greece,europe,1,4,2,4
10,Ivory Coast,africa,0,5,4,3
11,Japan,asia,0,6,2,1
12,Costa Rica,northamerica,1,1,4,7
13,Uruguay,southamerica,1,4,4,6
14,Italy,europe,0,3,2,3
15,England,europe,0,4,2,1
16,France,europe,1,2,8,7
17,Switzerland,europe,1,6,7,6
18,Ecuador,southamerica,0,3,3,4
19,Honduras,northamerica,0,8,1,0
20,Argentina,southamerica,1,3,6,9
21,Nigeria,africa,1,3,3,4
22,Bosnia and Herzegovina,europe,0,4,4,3
23,Iran,asia,0,4,1,1
24,Germany,europe,1,2,7,7
25,United States,northamerica,1,4,4,4
26,Portugal,europe,0,7,4,4
27,Ghana,africa,0,6,4,1
28,Belgium,europe,1,1,4,9
29,Algeria,africa,1,5,6,4
30,Russia,europe,0,3,2,2
31,South Korea,asia,0,6,3,1

### Desafío 3: Simulaciones
>● Genere una función generate_pet que devuelva de forma aleatoria un string 'perro' o 'gato' un número n de veces. Ejecútela un par de veces.
>
>Tip: Puede utilizar la función np.random.choice para retornar elementos al azar.
>
>>● Aplique la función generate_pet para generar 20 muestras.
>
>>● ¿Cuál es la probabilidad de elegir un perro al azar? ¿Y un gato?
>
>>● Agregue np.random.seed(2) al inicio del chunk. ¿Qué diferencia hay cuando se ejecuta la función varias veces luego de fijar la semilla?
>
>(3 puntos)

In [82]:
def generate_pet():
    np.random.seed()
    return np.random.choice(['perro',"gato"])
generate_pet()

'perro'

In [83]:
pet=[]
for i in range(20):
    pet.append(generate_pet())
pet

['gato',
 'gato',
 'perro',
 'gato',
 'gato',
 'perro',
 'perro',
 'perro',
 'perro',
 'perro',
 'perro',
 'perro',
 'gato',
 'gato',
 'gato',
 'gato',
 'gato',
 'gato',
 'perro',
 'gato']

In [84]:
pd.Series(pet).value_counts("%")

gato     0.55
perro    0.45
dtype: float64

### Desafío 4: Función simuladora
>● Genere una función llamada simulate_pets_prob que tome como argumento un
>
>número finito de simulaciones a generar.
>
>● La función debe simular dos situaciones young_pet y old_pet, y contar la ocurrencia de los siguientes casos:
>
>>○ De las dos mascotas simuladas (young y old), contar las ocasiones donde por lo menos una de las mascotas sea un perro.
>
>>○ De las dos mascotas simuladas, contar las ocasiones donde old_pet sea un perro.
>
>>○ De las dos mascotas simuladas, contar las ocasiones donde los dos sean perros.
>
>● El método debe tener una semilla pseudoaleatoria de 1.
>
>● El output de la función debe entregarse en términos de Probabilidad.
>
>● De los tres escenarios, ¿Cuál es el menos probable? ¿Cuál es el más probable? ¿Por qué?
>
>(4 puntos)

In [85]:
def edad():
    return np.random.choice(['young_pet', 'old_pet'])

simulate_pets_prob=[]

for i in range(20):
    simulate_pets_prob.append(edad())

In [86]:
def simulate_pet(x):
    np.random.seed(1)
    prob_uno=0
    prob_dos=0
    prob_tres=0
    for i in range(x):
        a=generate_pet()
        b=edad()
        c=generate_pet()
        d=edad()
        if (a=="perro" or c=="perro"):
            prob_uno+=1
        if((a=="perro" and b=="old_pet")or (c=="perro" and d=="old_pet")):
            prob_dos+=1
        if (a=="perro" or c=="perro"):
            prob_tres+=1
    prob_1 = (prob_uno / x) * 100
    prob_2 = (prob_dos / x) * 100
    prob_3 = (prob_tres / x)* 100
    print(f'''
    El ecenario mas probable es de {prob_1} % 
    El ecenario menos probable es de {prob_2} % 
    Y la probabilidad maxima es de {prob_3} %''')
    
    return prob_1, prob_2, prob_3