In [1]:
from operator import imod
import pandas as pd
import numpy as np
from scipy import stats

In [2]:
df = pd.read_csv('datasets/alumnos.csv')

In [29]:
df

       nombre  altura  peso  edad sexo
0        Hugo    1.67    60    23    h
1        Paco    1.73    83    25    h
2        Luis    1.62    70    28    h
3       Diana    1.58    58    21    m
4   Francisco    1.86    98    28    h
5      Felipe    1.79   100    26    h
6     Jacinta    1.69    62    20    m
7    Bernardo    1.60    83    31    h
8     Marisol    1.60    56    30    m
9     Facundo    1.98   112    36    h
10   Trinidad    1.72    72    21    m
11     Camila    1.63    57    26    m
12   Macarena    1.73    68    27    m
13      Diego    1.62    78    23    h
14    Gonzalo    1.58    67    22    h
15  Alejandra    1.86    74    21    m
16   Fernando    1.79    93    27    h
17   Carolina    1.60    63    28    m
18    Vicente    1.98   102    31    h
19   Benjamín    1.72    78    36    h
20     Gloria    1.58    65    23    m

In [3]:
for i in df['altura']:
    print(i, 'es del tipo', type(i))

1.67 es del tipo <class 'float'>
1.73 es del tipo <class 'float'>
1.62 es del tipo <class 'float'>
1.58 es del tipo <class 'float'>
1.86 es del tipo <class 'float'>
1.79 es del tipo <class 'float'>
1.69 es del tipo <class 'float'>
1.6 es del tipo <class 'float'>
1.6 es del tipo <class 'float'>
1.98 es del tipo <class 'float'>
1.72 es del tipo <class 'float'>
1.63 es del tipo <class 'float'>
1.73 es del tipo <class 'float'>
1.62 es del tipo <class 'float'>
1.58 es del tipo <class 'float'>
1.86 es del tipo <class 'float'>
1.79 es del tipo <class 'float'>
1.6 es del tipo <class 'float'>
1.98 es del tipo <class 'float'>
1.72 es del tipo <class 'float'>
1.58 es del tipo <class 'float'>

In [4]:
for i in df['altura']:
    print(i + 1.00)

2.67
2.73
2.62
2.58
2.8600000000000003
2.79
2.69
2.6
2.6
2.98
2.7199999999999998
2.63
2.73
2.62
2.58
2.8600000000000003
2.79
2.6
2.98
2.7199999999999998
2.58

In [6]:
for i in df['altura'].index:
    if i % 2 == 0:
        print(i)

0
2
4
6
8
10
12
14
16
18
20

In [76]:
for i in df['altura'].index:
    if i % 2 == 0:
        print(df['altura'][i], 'Es par')
    if i % 2 != 0:
        print(df['altura'][i], 'Es impar')

1.67 Es par
1.73 Es impar
1.62 Es par
1.58 Es impar
1.86 Es par
1.79 Es impar
1.69 Es par
1.6 Es impar
1.6 Es par
1.98 Es impar
1.72 Es par
1.63 Es impar
1.73 Es par
1.62 Es impar
1.58 Es par
1.86 Es impar
1.79 Es par
1.6 Es impar
1.98 Es par
1.72 Es impar
1.58 Es par

In [10]:
media_peso = df['peso'].mean()

In [12]:
for i in df['peso']:
    if i > media_peso:
        print(i, 'Tiene un peso dobre el promedio')
    else:
        print(i, 'Tiene un peso bajo el promedio')

60 Tiene un peso bajo el promedio
83 Tiene un peso dobre el promedio
70 Tiene un peso bajo el promedio
58 Tiene un peso bajo el promedio
98 Tiene un peso dobre el promedio
100 Tiene un peso dobre el promedio
62 Tiene un peso bajo el promedio
83 Tiene un peso dobre el promedio
56 Tiene un peso bajo el promedio
112 Tiene un peso dobre el promedio
72 Tiene un peso bajo el promedio
57 Tiene un peso bajo el promedio
68 Tiene un peso bajo el promedio
78 Tiene un peso dobre el promedio
67 Tiene un peso bajo el promedio
74 Tiene un peso bajo el promedio
93 Tiene un peso dobre el promedio
63 Tiene un peso bajo el promedio
102 Tiene un peso dobre el promedio
78 Tiene un peso dobre el promedio
65 Tiene un peso bajo el promedio

In [13]:
media_peso

76.14285714285714

In [14]:
for i in df:
    print(i)

nombre
altura
peso
edad
sexo

In [15]:
df.head(5)

      nombre  altura  peso  edad sexo
0       Hugo    1.67    60    23    h
1       Paco    1.73    83    25    h
2       Luis    1.62    70    28    h
3      Diana    1.58    58    21    m
4  Francisco    1.86    98    28    h

In [53]:
count_h = 0
count_m = 0
for i in df['sexo']:
    if i == 'm':
        count_m += 1
    if i == 'h':
        count_h += 1

In [54]:
print(f'{count_m} mujeres\n{count_h} hombres')

9 mujeres
12 hombres

In [52]:
edad_promedio = df['edad'].mean()
print(f'La edad promedio es: {round(edad_promedio, )} años')

La edad promedio es: 26 años

In [58]:
for colname, serie in df.iteritems():
    print(f'{colname} {serie[:5]}')

nombre 0         Hugo
1         Paco
2         Luis
3        Diana
4    Francisco
Name: nombre, dtype: object
altura 0    1.67
1    1.73
2    1.62
3    1.58
4    1.86
Name: altura, dtype: float64
peso 0    60
1    83
2    70
3    58
4    98
Name: peso, dtype: int64
edad 0    23
1    25
2    28
3    21
4    28
Name: edad, dtype: int64
sexo 0    h
1    h
2    h
3    m
4    h
Name: sexo, dtype: object

In [63]:
for colname, serie in df.iteritems():
    if serie.dtype == 'object':
        print(f'{colname} es un objeto')
    else:
        print(f'La media de {colname} es de {serie.mean()}')

nombre es un objeto
La media de altura es de 1.710952380952381
La media de peso es de 76.14285714285714
La media de edad es de 26.333333333333332
sexo es un objeto

In [65]:
for rowname, rowserie in df.iterrows():
    if rowserie['sexo'] == 'm':
        print(rowserie['nombre'])

Diana
Jacinta
Marisol
Trinidad
Camila
Macarena
Alejandra
Carolina
Gloria

In [66]:
for rowname, rowserie in df.iterrows():
    if rowserie['sexo'] == 'h':
        print(rowserie['nombre'])

Hugo
Paco
Luis
Francisco
Felipe
Bernardo
Facundo
Diego
Gonzalo
Fernando
Vicente
Benjamín

In [67]:
df.iloc[0]

nombre    Hugo
altura    1.67
peso        60
edad        23
sexo         h
Name: 0, dtype: object

In [68]:
df.iloc[0].index

Index(['nombre', 'altura', 'peso', 'edad', 'sexo'], dtype='object')

In [71]:
for rowname, rowserie in df.iterrows():
    if rowserie['peso'] > media_peso:
        print(rowserie['nombre'], 'tiene un peso masyor a la media' )
    else:
        print(rowserie['nombre'], 'tiene un peso menor a la media' )

Hugo tiene un peso menor a la media
Paco tiene un peso masyor a la media
Luis tiene un peso menor a la media
Diana tiene un peso menor a la media
Francisco tiene un peso masyor a la media
Felipe tiene un peso masyor a la media
Jacinta tiene un peso menor a la media
Bernardo tiene un peso masyor a la media
Marisol tiene un peso menor a la media
Facundo tiene un peso masyor a la media
Trinidad tiene un peso menor a la media
Camila tiene un peso menor a la media
Macarena tiene un peso menor a la media
Diego tiene un peso masyor a la media
Gonzalo tiene un peso menor a la media
Alejandra tiene un peso menor a la media
Fernando tiene un peso masyor a la media
Carolina tiene un peso menor a la media
Vicente tiene un peso masyor a la media
Benjamín tiene un peso masyor a la media
Gloria tiene un peso menor a la media

In [72]:
#operacion vectorizada
df['peso'] < media_peso

0      True
1     False
2      True
3      True
4     False
5     False
6      True
7     False
8      True
9     False
10     True
11     True
12     True
13    False
14     True
15     True
16    False
17     True
18    False
19    False
20     True
Name: peso, dtype: bool

In [74]:
df[df['sexo'] == 'm']['nombre']

3         Diana
6       Jacinta
8       Marisol
10     Trinidad
11       Camila
12     Macarena
15    Alejandra
17     Carolina
20       Gloria
Name: nombre, dtype: object

In [75]:
df[df['sexo'] == 'h']['nombre']

0          Hugo
1          Paco
2          Luis
4     Francisco
5        Felipe
7      Bernardo
9       Facundo
13        Diego
14      Gonzalo
16     Fernando
18      Vicente
19     Benjamín
Name: nombre, dtype: object

In [80]:
contador_male = 0
for rowname, rowserie in df.iterrows():
    if rowserie['sexo'] == 'h':
        contador_male += rowserie['peso']

print(round(contador_male / 12))

85

In [78]:
df['sexo'].value_counts()

h    12
m     9
Name: sexo, dtype: int64

In [82]:
contador_fem = 0
for rowname, rowserie in df.iterrows():
    if rowserie['sexo'] == 'm':
        contador_fem += rowserie['peso']

print(round(contador_fem / 9))

64

In [86]:
media_peso_mujer = 0
count_fem_m = 0
for rowname, rowserie in df.iterrows():
    if (rowserie['sexo'] == 'm') & (rowserie['altura'] < df['altura'].mean()):
        media_peso_mujer += rowserie['peso']
        count_fem_m += 1

In [87]:
media_peso_mujer / count_fem_m

60.166666666666664

In [88]:
count_fem_m

6